.contain {
    display: flex;
    flex-direction: row;
    &-left{
      width: 40vw;
      border-right: solid 1px gray;
      box-sizing: border-box;
      &__text {
        width: 100%;
        padding: 24px;
        font-size: 32px;
        display: block;
      }
      &__active{
        background-color: white;
      }
    }
    &-right{
      width: 60vw;
      height: 100%;
      background-color: white;
      &__text {
        display: flex;
        flex-direction: row;
        width: 100%;
        padding: 24px;
        font-size: 32px;
        border-bottom: 1px solid #efefef;
      }
    }
  }